Package: eegc3
Version: 1.2.1
Architecture: amd64
Maintainer: Michele Tavella <michele.tavella@epfl.ch>
Installed-Size: 32
Section: libs
Priority: extra
Homepage: http://cnbisrv02.epfl.ch
Description: CNBI Toolkit metapackage
 This package installs all the components of the CNBI Toolkit.
